
body {
    font-family: Arial, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background: url("/images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.container {
    background: black;
    padding: 20px;
    border-radius: 8px;
    color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 500px;
}
.nav{
    position: fixed;
}

h1 {
    margin: 0 0 20px;
    font-size: 24px;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    border: 1px solid floralwhite;
    border-radius: 4px;
    flex: 1;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
